<!DOCTYPE html>
<html lang="zxx">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["title"]</title>

    <!-- ::::::::::::::Favicon icon::::::::::::::-->
    <link rel="shortcut icon" href="~/images/favicon.ico" type="image/png">
    <link rel="stylesheet" href="~/css/vendor/vendor.min.css">
    <link rel="stylesheet" href="~/css/plugins/plugins.min.css">
    <link rel="stylesheet" href="~/css/style.min.css">

</head>

<body>
    <!-- Start Header Area -->
    @await Html.PartialAsync("_HeaderPartial")
    <!-- End Header Area -->
    <!-- Start Mobile Header -->
    @await Html.PartialAsync("_MobileHeaderPartial")
    <!-- End Mobile Header -->
    <!--  Start Offcanvas Mobile Menu Section -->
    @await Html.PartialAsync("_MobileMenuPartial")
    <!-- ...:::: End Offcanvas Mobile Menu Section:::... -->
    <!-- Start Offcanvas Addcart Section -->
    @await Html.PartialAsync("_CartPopupPartial")
    <!-- End  Offcanvas Addcart Section -->
    <!-- Start Offcanvas Wishlist Section -->
    @await Html.PartialAsync("_WishlistPopupPartial")
    <!-- End Offcanvas Wishlist Section -->
    <!-- Start Offcanvas Search Bar Section -->
    @await Html.PartialAsync("_CartPopupPartial")
    <!-- End Offcanvas Search Bar Section -->
    <!-- Offcanvas Overlay -->
    <div class="offcanvas-overlay"></div>
    @RenderBody()
    <!-- Start Footer Section -->
    @await Html.PartialAsync("_FooterPartial")
    <!-- End Footer Section -->
    <!-- material-scrolltop button -->
    <button class="material-scrolltop" type="button"></button>

    <!-- Start Modal Add cart -->
    @await Html.PartialAsync("_ModalAddCartPartial")
    <!-- End Modal Add cart -->
    <!-- Start Modal Quickview cart -->
    @await Html.PartialAsync("_ModalQuickviewPartial")

    <!-- End Modal Quickview cart -->
    <script src="~/js/vendor/vendor.min.js"></script>
    <script src="~/js/plugins/plugins.min.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>